/*! CSS Used from: https://forrestknight.github.io/css/styles.css */

.project-thumbnail  { // .container or a tag
  height: 250px;
  text-align: center;
  &:hover {
    color: #ffffff;
    .project-description-wrapper {
      opacity: 1;
      transform: translateY(0px);
    }
    .project-title, span.see-more {
      transform: translateY(0px);
    }
  }
}

.project-description {
  position: absolute;
  top: 50%;
  margin-top: -55px;
  width: 100%;
  padding: 0 12px;
}

.project-title {
  text-transform: uppercase;
  font-size: 24px;
  transform: translateY(10px);
  transition: all 0.4s ease-in-out;
  &:after {
    content: '';
    display: block;
    height: 1px;
    border-bottom: 1px solid #ffffff;
    width: 50%;
    margin: 0 auto;
    opacity: 0.5;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.project-thumbnail {
  display: block;
  color: #ffffff;
  position: relative;
}

span.see-more {
  font-style: italic;
  text-transform: lowercase;
  letter-spacing: 3px;
  font-size: 16px;
  transition: all 0.4s ease-in-out;
  transform: translateY(10px);
}